{% extends 'base.html.twig' %}
{% block body %}
    <div id="content">
        <div id="content-header">
            <h1 class="styleTitle">Reporting</h1>
            <p><i>Cette page présente uniquement des rapports sur mesure et optionels. L'export normal se fait via le
                    choix « Télécharger fichier CSV » de la page Historique et Recherche </i></p>
        </div>
        <div class="container-fluid">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-th">

                    </i>
                </span>
                <h5><a>Domaine RH- GEDDSM</a></h5></div>
        </div>
        <div class="bloc_request_rapport">
            <div class="bloc_gauche">
                <h7>Requêtes :</h7>
                <div class="lienFixe">
                    <a class="btn btn-primary btnrequest" href="{{ path('get-status') }}">Année en cours</a>
                    {#<a class="btn btn-primary btnrequest" href="{{ path('get-status') }}">En cours de signature par directeurs</a>#}
                </div>
            </div>
            <div class="bloc_droite">
                <h7>Rapports :</h7>

            </div>
        </div>

    </div>

{% endblock %}